# Entorn (development | production)
EXPO_PUBLIC_ENV=development

# URLs de l'API
# Web (navegador)
EXPO_PUBLIC_API_URL_WEB=http://localhost:5000/api

# Mobil dev (canvia per la IP local de la teva maquina, ex: 192.168.1.X)
EXPO_PUBLIC_API_URL_MOBILE=http://192.168.1.157:5000/api

# Produccio
EXPO_PUBLIC_API_URL_PRODUCTION=https://la-teva-api.com/api
